:root {
  --base-color: white;
}

body {
  background-color: #1A120B;
  color: var(--base-color);
  padding: 0 5%;
}

a {
  text-decoration: none;
  color: var(--base-color);
  padding: 0 10px;
}

a:hover {
  border-bottom: 1px solid var(--base-color);
}

h1 {
  font-weight: lighter;
  font-style: italic;
}

header {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

nav {
  padding: 15px 0;
}